<div class="container">

    <header>
        <div>
            <span>
                Colaborador:
                <label for="">Ribeiro</label>

            </span>
            <span>
                Matrícula:
                <label for="">00218615</label>

            </span>
            <span>
                Cargo:
                <label for="">Analista FullStack</label>

            </span>
        </div>

    </header>
    <table width="100%">
        <thead>
            <tr>
                <th>Data</th>
                <th> Dia da Semana</th>
                <th>1º</th>
                <th>2º</th>
                <th>3º</th>
                <th>4º</th>
                <th>5º</th>
                <th>6º</th>
                <th>7º</th>
                <th>8º</th>
                <th>9º</th>
                <th>10º</th>
                <th>Saldo</th>
                <th>Ocorrência</th>
                <th>Ação</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>
                    <input class="dateWeek" type="date" name="" id="">
                </td>
                <td class="dateWeek" > 
                    <input class="dateWeek" type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
                <td id="select" >
                    <select name="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                        <option value="null" selected></option>
                    </select>
                </td>
                <td>
                    <button type="submit">Ação</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>